# Compiled files
*.class

# Simulation report files
*reports*/*.txt

# Javadocs
*.html
doc/stylesheet.css
doc/resources/*.gif
doc/package-list

# Eclipse IDE files
.classpath
.project
/target/
.settings/org.eclipse.*
reports/*
# reports/Test-5-nodes/Test-5-nodes_MessageStatsReport.txt
# reports/Test-5-nodes/Test-100-nodes-with-TA_MessageStatsReport.txt
# reports/Test-5-nodes/Test-50-nodes-with-TA_MessageStatsReport.txt
settingfiles/*
batchlog.txt
